@mixin alig_fto ($dplay, $juscon, $aliitm) {
    display: $dplay;
    justify-content: $juscon;
    align-items: $aliitm; 
}
.nv_fto{
    @include alig_fto(flex, space-around, center);
}
.format{
    @include alig_fto(flex, center, center);
}
.card_con{
    @include alig_fto(flex, space-evenly, center);
}
 
/* herencia

%button-p{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
}

.button-warning{
    @extend %buttonm-p;
    background-color: yellow;
}

o

.button-save, .button-warning{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
}
*/