@import 'variables';
@import 'mixin';

body {
    margin: 0;
    background-color: $bakgd-col;
}
nav{
    font-size: $txt-size;
    font-family: $txt-type;
    width: 100%;
    height: 40px;
    padding: 0px 0px 0px 0px;
 /*   @include alig_fto(flex, space-around, center);*/
}
#inicio{
    font-size: $txt-size;
    font-weight: bolder;
    color: rgb(10, 6, 6);
    text-decoration: none;
    @include alig_fto(flex, space-between, center);
}
.menu-home{
    color: rgb(7, 3, 3);
    font-weight: bolder;
    text-decoration: none;
    font-size: $txt-size;
}
.hero_container{
    width: 100%;
    height: 60vh;
    background-image: url(../Images/wallpaperbetter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 100%;
    flex-direction: column;
    font-weight: bolder;
    font-family: sans-serif;
} 
.hero_texto {
    font-size: $txt-size+10;
    flex-direction: column;
} 
.card {
    border-radius: 8px;
    flex-direction: column;
    border: 1px solid rgb(190, 186, 186);
    transform:scale (1.05);
   /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   /* height: 15vh;*/
}
img{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card_container {
    padding: 20px; 
    flex-direction: row;
    flex-wrap: wrap; /*   */
}
@media screen and (max-width: 600px){
    nav {
      background-color:cyan;
      height: auto;
      display: block;  
    } 
    .hero_container{
        background-image: url(../Images/images02.jpeg); 
        height: 50vh; 
    }
}
