@import 'variables';
@import 'mixin';
@import 'mediaq';

body {
    margin: 0;
    background-color: $bakgd-col;
}
nav{
    background-color: pink;
    font-size: $txt-size;
    font-family: $txt-type;
    width: 100%;
    height: 40px;
}
header {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px; 
    img.header{
        width: 10%; 
        height: 10%;
    }
}
img{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fontcard{
    font-size: $txt-size;
    font-family: $txt-type;
    font-weight: bolder;
    color:pink;
}

.menu-home{
    color: rgb(7, 3, 3);
    font-weight: bolder;
    text-decoration: none;
    font-size: $txt-size; 
}
.hero_container{
    width: 100%;
    height: 60vh;
    background-image: url(../Images/wallpaperbetter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 100%;
    flex-direction: column;
} 
.hero_texto {
    font-size: $txt-size;
    font-family: $txt-type;
    font-weight: bolder;
    color:white;
    flex-direction: column;
} 
.card {
    border-radius: 8px;
    flex-direction: column;
    border: 1px solid rgb(190, 186, 186);
    transform:scale (1.05);
}
.card:hover {
    border: 1px solid black; 
}
.card_container {
    padding: 25px; 
    flex-direction: row; 

    flex-wrap: wrap; 
}

.foote{
    font-family: $txt-type;
    text-align: center;
    background-color: pink;
} 